input, button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  border-bottom: 2px solid #DEDEDE;
}
nav .logo img {
  width: 200px;
}
nav .logo .image2 {
  display: none;
}
nav .logo .image1 {
  display: block;
}
nav .search {
  width: 300px;
  border: 1px solid #dedede;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
nav .search input {
  width: 100%;
  padding: 10px;
  flex: 1;
}
nav .search button {
  background: none;
}
nav .search button i {
  color: #bfbfbf;
  font-size: 18px;
}
nav .minUser .user {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .minUser .user i {
  font-size: 18px;
  color: black;
}
@media screen and (max-width: 600px) {
  nav {
    background-color: rgba(31, 29, 29, 0.808);
  }
  nav .logo .image2 {
    display: block;
  }
  nav .logo .image1 {
    display: none;
  }
  nav .mainUser {
    display: none !important;
  }
  nav .search {
    display: none;
  }
  nav .gamburger {
    display: block !important;
  }
  nav .gamburger i {
    color: white !important;
    font-size: 20px;
  }
}

.myBtn-primary {
  background: #FFEC00;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
}

.secondaryBtn {
  background: rgba(255, 220, 3, 0.65) !important;
  border-radius: 10px;
  padding: 8px 16px;
  letter-spacing: 0.44px;
  font-size: 18px;
}

.mainSection {
  width: 100%;
}
.mainSection .reklama {
  width: 100%;
}
.mainSection .reklama img {
  object-fit: cover;
  width: 100%;
}

h1 h2 h3 h4 h5 h6 p {
  margin: 0;
  padding: 0;
}

.categories-container ul {
  width: 100%;
}
.categories-container ul li {
  display: inline-block !important;
  cursor: pointer;
  list-style-type: none;
  border: 0 solid black;
  margin: 10px;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  padding: 10px 35px;
  background-color: #F0F0F0;
  text-decoration: none;
  color: black;
}
.categories-container ul li:hover {
  color: #000;
}

.text11 {
  padding: 20px 30px;
}

img {
  object-fit: cover;
  border-radius: 10px;
  margin: 0;
  height: 50px;
  padding: 0;
}

.hoverBtn {
  position: absolute;
}

.foodsBox {
  position: relative;
  overflow: hidden;
}

.foodsBox:hover {
  z-index: 20;
}
.foodsBox:hover .hoverBtn {
  position: absolute;
  left: 215px;
  top: 182px;
}
.foodsBox:hover .hoverBtn .hoverBtn:hover {
  transition: 0.9;
}

.admin-page {
  width: 100%;
  display: flex;
}
.admin-page aside {
  min-height: 100vh;
  width: 350px;
  background: #fffced;
}
.admin-page aside .menu ul {
  padding: 20px;
  list-style-type: none;
}
.admin-page aside .menu ul li {
  padding: 10px 20px !important;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.admin-page aside .menu ul li i {
  margin-right: 15px;
  font-size: 20px;
}
.admin-page aside .menu ul li div .fw-bold {
  font-size: 22px;
}
.admin-page aside .menu ul li div p {
  font-size: 18px;
  margin: 0;
}
.admin-page aside .menu ul li:hover {
  background-color: #ffdc03;
}
.admin-page .admin-main-page {
  flex: 1;
  padding: 20px;
}
.admin-page .admin-main-page h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.admin-page .admin-main-page p {
  font-size: 18px;
}
.admin-page .admin-main-page .btns {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.admin-page .admin-main-page .btns button {
  background: none;
  border-radius: 10px;
  padding: 8px 16px;
  letter-spacing: 0.44px;
  font-size: 18px;
  font-weight: 600;
}
.admin-page .admin-main-page .btns button.active {
  background: #FFEC00;
  padding: 8px 16px;
}
.admin-page .admin-main-page .content {
  padding: 40px 10px;
}
.admin-page .admin-main-page .content input, .admin-page .admin-main-page .content textarea, .admin-page .admin-main-page .content select {
  outline: none;
  font-size: 18px;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #dedede;
  border-radius: 7px;
}

/*# sourceMappingURL=main.css.map */
